{% extends 'base.html.twig' %}

{%block title %} {{produit.nom}} {% endblock %}

{% block body %}

    <h1>{{produit.nom }}</h1>
    <p> Description : {{produit.description}} </p>
    <p> Quantité de produit en stock : {{produit.qte}} </p>
    <p> Prix : {{produit.prix}} €</p>


    <h2>Modifier</h2>
    {{ form(form) }}

{% endblock %}